<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HITACHI ABB</title>
    <link rel="stylesheet" href="../assets/css/loader.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../assets/venders/bootstrap-multiselect.min.css">
    <style>
        .dropdown-toggle {
            width: 100% !important;
        }

        .table th,
        .table td {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="../assets/images/logo_horizontal.png" alt="" height="30px" style="margin:15px 0px 0px 50px;">
        <button class="btn btn-secondary" onclick="location.reload()" style="float: right; margin: 10px;">Reset filter</button>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>