<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li onclick="loadNewData('table.ejs')"><a href="javascript:void(0)">GIS Data</a></li>
        <hr>
        <li style="cursor: defaulr;"><span>Report</span></li>
        <li onclick="loadNewData('viTable2.ejs')"><a href="javascript:void(0)">Visual Inspection</a></li>
        <li onclick="loadNewData('ocTable.ejs')"><a href="javascript:void(0)">Operational Check</a></li>
        <li onclick="loadNewData('pmTable.ejs')"><a href="javascript:void(0)">Periodic Maintenance</a></li>
        <li onclick="loadNewData('cbcmTable.ejs')"><a href="javascript:void(0)">CBCM</a></li>
        <li onclick="loadNewData('mfTable.ejs')"><a href="javascript:void(0)">Major Findings</a></li>
        <li><a href="javascript:void(0)" onclick="loadNewData('substationMaintenanceHistory.ejs')">Substation
                Maintenance
                History</a></li>
        <hr>
    </ul>
</div>