<%- include('./includes/header'); -%>
    <%- include('./includes/sidebar'); -%>
    <div class="loader-container">
        <div class="loader"></div>
        <span>
            <h3>Loading...</h3>
        </span>
    </div>
    <div id='center' class="main center">
        <div style="padding: 20px;">
            <h2>Operational Check</h2>

            <table class="table" id="ocData">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">BOQ Ref</label>

                                <div id="boq_ref-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">BOQ Sequence</label>
                                <div id="boq_sequence-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Date</label>
                                <div id="date-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Substation Name</label>
                                <div id="substation_name-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Bay No</label>
                                <div id="bay_no-container">
                                </div>
                            </div>
                        </th>

                        <th scope="col">
                            <div class="form-group">
                                <label for="">Voltage Level</label>
                                <div id="voltage_level-container">
                                </div>
                            </div>
                        </th>

                        <th scope="col">
                            <div class="form-group">
                                <label for="">Done By</label>
                                <div id="done_by-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Work Order Number</label>
                                <div id="work_order_no-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Zone</label>
                                <div id="zone-container">
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="form-group">
                                <label for="">Report</label>
                                <div id="pdf-container">
                                </div>
                            </div>
                        </th>

                    </tr>
                </thead>
                <tbody id=oc-filter-table>
                </tbody>
            </table>

        </div>
    </div>




    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/venders/bootstrap-multiselect.min.js"></script>
    <script src="../renderer/ocTableRenderer.js"></script>
    <script src="../renderer/commonRenderer.js"></script>
    <script src="../assets/js/jquery.dataTables.js"></script>
</body>

</html>